﻿@model IEnumerable<HelmesDotNet.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
        <p>
            Find by id: @Html.TextBox("searchID")
            <input type="submit"  value="Search"/>
        </p>
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr> 
        <td>
            @if (item.isCritical)
            {
                <span class="critical-ticket">
                     @Html.DisplayFor(modelItem => item.ID)
                </span>
            } 
            else 
            {
                <span>
                     @Html.DisplayFor(modelItem => item.ID)
                </span>
            }         
        </td>
        <td>
            @if (item.isCritical)
            {
                <span class="critical-ticket">
                    @Html.ActionLink(item.Name, "Edit", new { id = item.ID })
                </span>
            } 
            else 
            {
                <span>
                    @Html.ActionLink(item.Name, "Edit", new { id = item.ID })
                </span>
            }
            
        </td>
        <td>
            @if (item.isCritical)
            {
                <span class="critical-ticket">
                    @Html.DisplayFor(modelItem => item.Date)
                </span>
            }
            else 
            {
                <span>
                    @Html.DisplayFor(modelItem => item.Date)
                </span>
            }
        </td>
        <td>
            @if (item.isCritical)
            {
                <span class="critical-ticket">
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </span>
            }
            else 
            {
                <span>
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </span>
            }
        </td>
        <td>
            @if (item.isCritical)
            {
                <span class="critical-ticket">
                    @Html.DisplayFor(modelItem => item.DueDate)
                </span>
            }
            else 
            {
                <span>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </span>
            }          
        </td>
        <td>
            @if (item.isCritical)
            {
                <span class="critical-ticket">
                    @Html.DisplayFor(modelItem => item.Priority)
                </span>
            }
            else 
            {
                <span>
                    @Html.DisplayFor(modelItem => item.Priority)
                </span>
            }            
        </td>
        <td>
            @Html.ActionLink("Details and Comments", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
